DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_SECRET_KEY=change-me-very-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=testbench
DB_USER=testbench
DB_PASSWORD=change-me
DB_HOST=postgres
DB_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
INTELLIGENCE_AUTO_ANALYZE_FAILURES=True
INTELLIGENCE_ANALYSIS_ASYNC=True
INTELLIGENCE_DEFAULT_MODEL_NAME=history-rules
INTELLIGENCE_DEFAULT_MODEL_VERSION=v1

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

FRONTEND_BASE_URL=http://127.0.0.1:4200
CORS_ALLOWED_ORIGINS=http://127.0.0.1:4200,http://localhost:4200

INGESTION_NETWORK=testbench_tb_net
